**Örnek Teorisi**

In [1]:
import numpy as np

In [2]:
populasyon = np.random.randint(0,80,10000)

In [3]:
populasyon[0:10]

array([25, 16, 27,  5, 54, 46, 11, 50, 31, 28])

In [5]:
# örneklem çekmek

In [6]:
np.random.seed(115)   #yapılacak olan işlemlerin her tekrar edildiğinde
                     #aynı sonuçları getirmesini garanti altına alan işlem

In [7]:
orneklem= np.random.choice(a=populasyon,size=100)
orneklem[0:10]

array([74, 79, 77, 16, 32, 33, 33, 62, 69, 61])

In [8]:
orneklem.mean()

41.79

In [9]:
populasyon.mean()

39.099

In [10]:
#örneklem dağılımı

In [25]:
np.random.seed(10)
orneklem1= np.random.choice(a=populasyon,size=100)
orneklem2=np.random.choice(a=populasyon,size=100)
orneklem3= np.random.choice(a=populasyon,size=100)
orneklem4= np.random.choice(a=populasyon,size=100)
orneklem5= np.random.choice(a=populasyon,size=100)
orneklem6= np.random.choice(a=populasyon,size=100)
orneklem7= np.random.choice(a=populasyon,size=100)
orneklem8= np.random.choice(a=populasyon,size=100)
orneklem9= np.random.choice(a=populasyon,size=100)
orneklem10= np.random.choice(a=populasyon,size=100)

In [29]:
(orneklem1.mean()+orneklem2.mean()+orneklem3.mean()+orneklem4.mean()+orneklem5.mean()+orneklem6.mean()+orneklem7.mean()+orneklem8.mean()+orneklem9.mean()+orneklem10.mean())/10

40.168000000000006

orneklem4.mean()

**Betimsel İstatistikler**

In [30]:
import seaborn as sns
tips= sns.load_dataset("tips")
df=tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [32]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [33]:
!pip install researchpy 
import researchpy as rp

Collecting researchpy
  Downloading researchpy-0.3.2-py3-none-any.whl (15 kB)
Requirement already satisfied: scipy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (1.6.2)
Requirement already satisfied: patsy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (0.5.1)
Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (1.20.1)
Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (1.2.4)
Requirement already satisfied: statsmodels in c:\users\lenovo\anaconda3\lib\site-packages (from researchpy) (0.12.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->researchpy) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas->researchpy) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->researchpy) (1.15.0)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.2

In [36]:
rp.summary_cont(df[["total_bill","tip","size"]])   #sayısal değişkenler için kullanılır

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [38]:
rp.summary_cat(df[["sex","smoker","day"]])   #katekorik değişkenleri betimleme

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [39]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [41]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

**Olasılık Dağılımları**

**Bernoulli Dağılımları**

- f(k;p)=P^k(1-p)^1-k  for k∈{0,1}
- E(X) = p
- Var[X] = pq =p(1-p)

In [43]:
from scipy.stats import bernoulli

In [44]:
p = 0.6

In [47]:
rv = bernoulli(p)
rv.pmf(k = 0)

0.4

**Büyük Sayılar Yasası**
- bir rassal değişkenin uzun vadeli kararlılığını tanımlayan olasılık teoremidir.

In [57]:
import numpy as np 
rng =np.random.RandomState(123)
for i in np.arange(1,21):
    deney_sayisi=2**i
    yazi_turalar=rng.randint(0, 2, 
                             size=deney_sayisi)
    yazi_olasiliklari=np.mean(yazi_turalar)
    print("Atış Sayısı: ",deney_sayisi,"---",'Yazı Olasılığı: %.2f' % (yazi_olasiliklari*100))

Atış Sayısı:  2 --- Yazı Olasılığı: 50.00
Atış Sayısı:  4 --- Yazı Olasılığı: 0.00
Atış Sayısı:  8 --- Yazı Olasılığı: 62.50
Atış Sayısı:  16 --- Yazı Olasılığı: 43.75
Atış Sayısı:  32 --- Yazı Olasılığı: 46.88
Atış Sayısı:  64 --- Yazı Olasılığı: 56.25
Atış Sayısı:  128 --- Yazı Olasılığı: 50.78
Atış Sayısı:  256 --- Yazı Olasılığı: 52.73
Atış Sayısı:  512 --- Yazı Olasılığı: 52.93
Atış Sayısı:  1024 --- Yazı Olasılığı: 50.20
Atış Sayısı:  2048 --- Yazı Olasılığı: 48.58
Atış Sayısı:  4096 --- Yazı Olasılığı: 49.49
Atış Sayısı:  8192 --- Yazı Olasılığı: 49.58
Atış Sayısı:  16384 --- Yazı Olasılığı: 49.96
Atış Sayısı:  32768 --- Yazı Olasılığı: 50.00
Atış Sayısı:  65536 --- Yazı Olasılığı: 49.68
Atış Sayısı:  131072 --- Yazı Olasılığı: 49.97
Atış Sayısı:  262144 --- Yazı Olasılığı: 50.13
Atış Sayısı:  524288 --- Yazı Olasılığı: 50.01
Atış Sayısı:  1048576 --- Yazı Olasılığı: 50.09

**Binom Dağılımı**

**Possion Dağılımı**

**Normal Dağılım**