**Varyans analizi**

**Problem:**
* Anasayfada geçirilen süre artırılmak isteniyor

**Detaylar** 
* Bir web sistesi için başarı kriterleri:ortalama ziyarat süresi, hemen çıkış oranı vb 
* Uzun zaman geçiren kullanıcıların reklamlara daha fazla tıkladığı ve markaya olan bağlılıkları arttığı biliniyor. 
* Buna yönelik olarak benzer haberler farklı resimler ya da farklı formatlarda hazırlanarak oluşturulan test gruplara gösteriliyor
* A: Doğal şekilde, B:Yönlendirici, C:İlgi çekici

In [1]:
import pandas as pd

In [11]:
A= pd.DataFrame([28,33,30,29,29,27,31,32,30,25,27])
B= pd.DataFrame([31,32,30,33,32,27,36,30,31,30,38])
C= pd.DataFrame([40,33,38,41,42,23,21,28,31,39,36])

dfs= [A,B,C]

ABC=pd.concat(dfs,axis=1)
ABC.columns=["GRUP_A","GRUP_B","GRUP_C"]
ABC.head()

   GRUP_A  GRUP_B  GRUP_C
0      28      31      40
1      33      32      33
2      30      30      38
3      29      33      41
4      29      32      42

**Varsayım Kontrolü**

In [3]:
#gruplar bağımsız

In [4]:
#normallik varsayımı (shapiro testi)

In [15]:
from scipy.stats import shapiro
import scipy.stats as stats

In [6]:
shapiro(ABC["GRUP_A"])

ShapiroResult(statistic=0.9837393164634705, pvalue=0.9833640456199646)

In [7]:
shapiro(ABC["GRUP_B"])

ShapiroResult(statistic=0.9203706979751587, pvalue=0.3217405378818512)

In [12]:
shapiro(ABC["GRUP_C"])

ShapiroResult(statistic=0.9084248542785645, pvalue=0.2336110770702362)

In [17]:
#homojenlik varsayımı

In [16]:
stats.levene(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

LeveneResult(statistic=5.882543802725503, pvalue=0.006992264853363218)

**Hipotez Testi**

In [18]:
from scipy.stats import f_oneway

In [19]:
f_oneway(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

F_onewayResult(statistic=2.63631479989256, pvalue=0.08815587353571062)

In [20]:
print('{:.5f}'.format(f_oneway(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])[1]))

0.08816

In [21]:
ABC.describe().T

        count       mean       std   min   25%   50%   75%   max
GRUP_A   11.0  29.181818  2.358736  25.0  27.5  29.0  30.5  33.0
GRUP_B   11.0  31.818182  3.027150  27.0  30.0  31.0  32.5  38.0
GRUP_C   11.0  33.818182  7.277612  21.0  29.5  36.0  39.5  42.0

**Nonparametrik hipotez testi**

In [22]:
#varsayım ve hipotez testi sağlanmadığında kullanılacak yöntem

In [23]:
from scipy.stats import kruskal

In [25]:
kruskal(ABC["GRUP_A"],ABC["GRUP_B"],ABC["GRUP_C"])

KruskalResult(statistic=5.6496524694571075, pvalue=0.05931896350973743)